@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #364dcfcb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebebeb;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply bg-black text-white py-2 px-4 rounded-md font-semibold transition duration-300 ease-in-out hover:bg-gray-800;
  }

  .btn-primary{
    @apply bg-black text-white rounded-md transition duration-200 ease-in-out hover:bg-slate-400
  }
  .logo-ticker-image{
    @apply h-8 w-auto
  }

  .card{
    @apply p-10 border border-solid border-[#2222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full text-black
  }
}

